%font {
    line-height: 1.4em;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: $font-m;
    font-smoothing: antialiased;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}

%center {
    margin: 0 auto;
    text-align: center;
}
